<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/edit}" th:object="${user}">

    <label for="id">id: </label>
    <input type="text" th:field="*{id}" id="id" readonly/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <label>
        <input type="checkbox" name="checkBoxRoles" value="ROLE_USER"/>
    </label>USER
    <label>
        <input type="checkbox" name="checkBoxRoles" value="ROLE_ADMIN"/>
    </label>ADMIN
    <br><br>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>